@media (min-width: 2000px) {
    .drop-file-input {
        --photo-width: 70rem; /* 1120px */
        --photo-height: 35rem; /* 560px */
        --scissors-half-width: 2.875rem; /* 46px */
    }
}

@media (max-width: 1999px) and (min-width: 768px) {
    .drop-file-input {
        --photo-width: 31rem;
        --photo-height: 15.5rem;
        --scissors-half-width: 1.875rem; /* 30px */
    }
}

@media (max-width: 767px) {
    .drop-file-input {
        --photo-width: 20rem; /* 400px */
        --photo-height: 10rem; /* 200px */
        --scissors-half-width: 1.875rem; /* 30px */
    }
}


.scissors-border{
    position: relative;
    display: flex;
    justify-content: center;
}



.drop-file-input {
    position: relative;
    width: var(--photo-width);
    height: var(--photo-height);
    border-radius: 20px;
    border: 5px dashed rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://content.wepik.com/media/bg-remover/remove-bg-bg0.png');
    background-color: var(--input-bg);


    --start-left: calc(-0.3rem - var(--scissors-half-width));
    --start-top: calc(-0.5rem - var(--scissors-half-width));
    --end-left: calc(var(--photo-width) - var(--scissors-half-width) + 0.2rem );
    --end-top: calc(var(--photo-height) - var(--scissors-half-width)  );
    
}


.spinning-scissors{
    transform: rotate(90deg);
    font-size: 20px;
    left:0%;  
    top:0%;
    position: absolute;
    z-index: 10;
    animation: circle 15s infinite linear;
}

@keyframes circle {
    0%   { left: var(--start-left); top: var(--start-top); transform: rotate(90deg); }
    25%  { left: var(--end-left); top: var(--start-top); transform: rotate(90deg); }
    27%  { left: var(--end-left); top: var(--start-top); transform: rotate(180deg); }
    50%  { left: var(--end-left); top: var(--end-top); transform: rotate(180deg); }
    52%  { left: var(--end-left); top: var(--end-top); transform: rotate(270deg); }
    75%  { left: var(--start-left); top: var(--end-top); transform: rotate(270deg); }
    77%  { left: var(--start-left); top: var(--end-top); transform: rotate(360deg); }
    95%  { left: var(--start-left); top: var(--start-top); transform: rotate(360deg); }
    100% { left: var(--start-left); top: var(--start-top); transform: rotate(450deg); }
  }



.drop-file-input input {
    opacity: 0; 
    position: absolute;
     top: 0;
    left: 0; 
     width: 100%;
    height: 100%;
    cursor: pointer;


}

.drop-file-input:hover,
.drop-file-input.dragover {
    opacity: 0.6;
}
.working-image{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.drop-file-input__label {
    text-align: center;
    color:black;
    font-weight: 600;
    padding: 10px;
}

.drop-file-input__label img {
    width: 100px;
}

.action-button{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    border: 5px dashed rgb(0, 0, 0);
}



.spinner {
    border: 4px solid rgba(51, 51, 51, 0.3);
    border-left-color: rgb(247, 178, 57);
    border-radius: 50%;
    width: calc(var(--photo-height) / 3);
    height: calc(var(--photo-height) / 3);
    animation: spin-full 1s linear infinite;
 }

 @keyframes spin-full {
    to {
       transform: rotate(360deg);
    }
 }